* {
    margin: 0;
    padding: 0;
}

.mainVideo {
    width: 100%;
    height: 500px;
    transform:translateY(-1rem);
}

.overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5)
}

video {
    width: 100%;
    height: 500px;
    object-fit: cover; 
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-family: Caveat-VariableFont_wght;
    font-size: 45px;
}

.workouts {
    font-family: Caveat-VariableFont_wght;
    padding-bottom: 20px;
    font-size: 50px;
}

.aboutUs {
    font-family: Caveat-VariableFont_wght;
    font-size: 50px;
    border-bottom: solid;
    padding-top: 110px;
    
}

.about_paragraph {
    width: 35%;
    height: 35%;
    margin-bottom: 35px;
    padding-top: 50px;
    padding-left: 75px;
}

.about_description {
    font-size: 25px;
    font-family: "Koulen-Regular";
   padding-top: 10px;

}

.about_with_pic {
    width: 100%;
    display: inline-flex;
}

.home_pic {
    width: 70%;
    padding-top: 50px;
}
