.login_input {
    padding: 12px 30px;
    margin: 10px 0;
    border: 2px solid rgba(212, 125, 75, 0.866);
    border-radius: 4px;
}

.login_header {
    font-family: "Caveat-VariableFont_wght";
    font-size: 50px;
    border-top: solid;
    border-bottom: solid;
}

.login_form {
    padding-top: 30px;
}

.login_button {
    border-radius: 4px;
    border-color:rgba(212, 125, 75, 0.866);
    background-color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 25px;
    padding-left:25px;
    font-size: 15px;

}

.login_button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.signup_toggle {
    background-color: white;
    text-decoration: underline;
    border: none;
    padding-top: 15px;
    padding-left: 5px;
}

.loginPhoto {
    height: 30%;
    width: 30%;
}

.signup_header {
    font-family: "Caveat-VariableFont_wght";
    font-size: 50px;
    border-top: solid;
    border-bottom: solid;
}