.workoutPlan {
font-family: "Caveat-VariableFont_wght";
   text-align: center;
   font-size: 50px;
   border-top: solid;
}

.workoutDetails {
    font-family: "Koulen-Regular";
  
}

.workoutForm {
    padding-bottom: 20px;
  
}

.addWorkout {
    text-align: center;
}

.workout_heading {
    font-family: "Caveat-VariableFont_wght";
    font-size: 50px;
}

.difficulty {
    font-size: 25px;
}

.exercise_name {
    font-family: "Koulen-Regular";
}

.card {
    border-top: solid;
    border-bottom: solid;
    padding-bottom: 10px;
}

.exercise_form {
    padding-top: 25px;
}

.workout_exercises {
    font-family: "Caveat-VariableFont_wght";
    font-size: 50px;
    padding-top: 25px;
}

.name_date{
    display: inline-block;
    padding: 20px;
}