.workoutPlan {
font-family: "Caveat-VariableFont_wght";
   text-align: center;
   font-size: 50px;
   border-top: solid;
}

.workoutDetails {
    font-family: "Koulen-Regular";
    padding: 9px 25px;
}

.workout_name {
    font-family: "Koulen-Regular";
}

.workoutForm {
    padding-bottom: 20px;
  
}

.addWorkout {
    text-align: center;
}

.workout_heading {
    font-family: "Caveat-VariableFont_wght";
    font-size: 50px;
}

.difficulty {
    font-size: 25px;
}

.exercise_name {
    font-family: "Koulen-Regular";
}

.card {
    border-top: solid;
    border-bottom: solid;
    padding-bottom: 10px;
}

.exercise_form {
    padding-top: 25px;
}

.workout_exercises {
    font-family: "Caveat-VariableFont_wght";
    font-size: 50px;
    padding-top: 25px;
}

.name_date{
    display: inline-block;
    padding: 20px;
}

.workout_select {
    padding: 12px 30px;
    margin: 10px 0;
    border: 2px solid rgba(212, 125, 75, 0.866);
    border-radius: 4px;
}

.workout_form_header {
    font-family: "Koulen-Regular";
    padding-right: 20px;
}

.workout_form_date {
    font-family: "Koulen-Regular";
    padding-right: 28px;
}


.workout_plan_button {
    border-radius: 4px;
    border-color:rgba(212, 125, 75, 0.866);
    background-color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 45px;
    padding-left:45px;
    font-size: 15px;
}

.workout_plan_button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
