.workoutcards {
    display: inline-flex;
    padding-top: 15px;
}
.workoutcard {
background-color: white;
border-radius: 0.3rem;
padding: 2rem;
margin-left: -2.3rem;
box-shadow: 4px 4px 12px 12px rgba(212, 125, 75, 0.866);
place-items: center;
transition: 0.2s;
font-family: "Koulen-Regular";
}

.workoutcard:hover{ 
    transform:translateY(-1rem);
}


.home {
    background-color: gray;
    display:contents
}

.img {
    width: 230px;
    height: 260px;
}

.delete {
    border-radius: 4px;
    border-color:rgba(212, 125, 75, 0.866);
    background-color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 25px;
    padding-left:25px;
    font-size: 15px;
}

.favorited {
    border-radius: 4px;
    border-color:rgba(212, 125, 75, 0.866);
    background-color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 25px;
    padding-left:25px;
    font-size: 15px;
}

.not_favorited {
    border-radius: 4px;
    border-color:rgba(212, 125, 75, 0.866);
    background-color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 25px;
    padding-left:25px;
    font-size: 15px;
}

.space {
    padding: 5px;
}