.workoutcards {
    display: inline-flex;
    padding-top: 15px;
}
.workoutcard {
background-color: white;
border-radius: 0.3rem;
padding: 2rem;
margin-left: -2rem;
box-shadow: 4px 4px 12px 12px rgba(212, 125, 75, 0.866);
place-items: center;
transition: 0.2s;
font-family: "Koulen-Regular";
}

.workoutcard:hover{ 

    transform:translateY(-1rem);
   
}

.workoutcard:hover + .workoutcard {
   transform:translateX(4rem);
}

.home {
    background-color: gray;
    display:contents
}